* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #dedede;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameboard {
    width: 100vw;
    height: 100vh;
    border-radius: 50%;
    overflow: hidden;
    max-height: 60vh;
    max-width: 60vw;
    border: 1px solid black;
}

.color {
    width: 50%;
    height: 50%;
    display: inline-block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.celeste {
    background-color: #22a6b3;
}

.celeste.light {
    background-color: #7ed6df;
}

.violeta {
    background-color: #be2edd;
}

.violeta.light {
    background-color: #e056fd;
}

.naranja {
    background-color: #f0932b;
}

.naranja.light {
    background-color: #ffbe76;
}

.verde {
    background-color: #6ab04c;
}

.verde.light {
    background-color: #badc58;
}

.btn-start {
    width: 400px;
    height: 100px;
    background-color: #ecf0f1;
    color: #2c3e50;
    font-size: 2.5rem;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 200px);
}

.hide {
    display: none;
    animation-duration: .8s;
    animation-name: adios;
    animation-fill-mode: forwards;
}
